.header {
  text-align: center;

  &__logo {
    padding: 88px 0 60px;
  }
}

.menu {
  border-top: 2px solid #c4c4c4;

  &__list {
    display: flex;
    justify-content: center;

    &-item {
      width: 300px;

      &:first-child {
        border-left: 1px solid #c4c4c4;
      }
      &:last-child {
        border-right: 1px solid #c4c4c4;
      }
    }

    &-link {
      font-size: 24px;
      line-height: 28px;
      color: #888888;
      text-decoration: none;
      display: block;
      padding: 34px 10px 38px;
      border-left: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      transition: all 0.3s;

      &:hover,
      &--active {
        background-color: #000000;
        color: #ffffff;
      }
    }
	}
}

