.reason {
  padding: 100px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 470px;
  }

  &__title {
    font-family: PT Serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 136px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 103px;
      height: 103px;
    }

    &--icon {
      &-1::before {
        background-image: url(../img/clock-icon.png);
      }
      &-2::before {
        background-image: url(../img/world-icon.png);
      }
    }
  }

  &__text {
    margin-bottom: 42px;
  }

  &__link {
    color: #888888;
    padding-left: 36px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: -4px;
      left: 0;
      background-image: url(../img/arrow-black.svg);
    }
  }
}
